# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=VlB9+zzrSgqL62mGLNqGKg==,e1kBYVqp27BBgfaj18kXKw==,zyevWT+MP/YE/D40P/rztw==,5CfPNkgN8GYdhX+TctTfPQ==
API_TOKEN_SALT=Sr6FCvtA5JGaaQKJwCWF9A==
ADMIN_JWT_SECRET=AKVuh4gZkBCU+uPep2UTFA==
JWT_SECRET=PAlhyEbNZxlgt3i0CS07mg==
TRANSFER_TOKEN_SALT=JAu27jhYgkipO/Va9oeYaQ==
ENCRYPTION_KEY=JVt4yJ5cZ2l1ZST+BH+OkQ==

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=lms
DATABASE_USERNAME=lms
DATABASE_PASSWORD=p@ssw0rd
DATABASE_SSL=false
DATABASE_FILENAME=